@model Meme

@{ 
    ViewBag.Title = Model.Name;
}

<div class="panel panel-primary">
    <div class="panel-heading">Title: @Model.Name</div>

    <div class="panel-body">
        <p><img class="img-responsive" src="@Model.Url" /></p>
        <p>Description: @Model.Description</p>
        <p>Genre: @Model.Genre</p>
        <p><a href="@Model.Url" target="_blank">Link</a></p>
    </div>    
    <div class="panel-footer">        
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </div>
</div>